@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Sistema desenvolvido em ASP.NET Core 7, Dapper e banco de dados MySql.</p>
    <p>Cadastro de pessoas com todas as telas em modo de janela Popup.</p>
</div>